<div>
    {{#with main}}
    <main class="m-2">
        <section class="mb-3">
            {{> title data='My Education' big=true}}
            <ul class="list-group">
                {{#each educations}}
                <li class="list-group-item">
                    {{name}}
                    {{#unless isEnd includeZero=true}} (Ще в процесі) {{/unless}}
                </li>

                {{/each}}
            </ul>
        </section>
        <section>
            {{> title data='My certificates' big=false}}

            <ul class="list-group">
                {{#each certificates}}
                <li class="list-group-item">
                    {{name}} ({{id}})
                </li>
                {{/each}}
            </ul>
        </section>
    </main>
    {{/with}}
</div>