<main>

    <div class="row ms-3">
        <div class="m-1">
            <a class="btn btn-primary" href="/shoporder">Shop Order</a>
        </div>
        <div class="m-1">
            <a class="btn btn-primary" href="/shopcatalog">Shop Catalog</a>
        </div>
        <div class="m-1">
            <a class="btn btn-primary" href="/bio">Bio</a>
        </div>
        <div class="m-1">
            <a class="btn btn-primary" href="/car">Car</a>
        </div>
        <div class="m-1">
            <a class="btn btn-primary" href="/education">Education</a>
        </div>
        <div class="m-1">
            <a class="btn btn-primary" href="/facebook">Facebook</a>
        </div>
        <div class="m-1">
            <a class="btn btn-primary" href="/js">Js</a>
        </div>
        <div class="m-1">
            <a class="btn btn-primary" href="/mac">Mac</a>
        </div>
        <div class="m-1">
            <a class="btn btn-primary" href="/person">Person</a>
        </div>
        <div class="m-1">
            <a class="btn btn-primary" href="/shopcart">Shopcart</a>
        </div>
        <div class="m-1">
            <a class="btn btn-primary" href="/shophome">Shophome</a>
        </div>
        <div class="m-2">
            <a class="btn btn-primary" href="/shopprofile">Shop profile</a>
        </div>
        <div class="m-2">
            <a class="btn btn-primary" href="/shopreview">Shop review</a>
        </div>
        <div class="m-2">
            <a class="btn btn-primary" href="/skills">Skills</a>
        </div>
        <div class="m-2">
            <a class="btn btn-primary" href="/summary">Summary</a>
        </div>
        <div class="m-2">
            <a class="btn btn-primary" href="/task21">Task 21</a>
        </div>
        <div class="m-2">
            <a class="btn btn-primary" href="/task22">Task 22</a>
        </div>
        <div class="m-2">
            <a class="btn btn-primary" href="/task31">Task31</a>
        </div>
        <div class="m-2">
            <a class="btn btn-primary" href="/work">Work</a>
        </div>
    </div>
</main>