{{#with footer}}
<footer class="m-2">
    <hr>

    <div class="m-1">
        {{#with social}}

        {{> link text=email.text href=email.href blank=true }}

        {{> link text=phone.text href=phone.href blank=true }}

        {{> link text=linkedin.text href=linkedin.href blank=true noLine=true }}

        {{/with}}
    </div>

    <div class="m-1">
        <em>Copyright by {{../header.name.firstname}} {{../header.name.lastname}}</em>
    </div>

    <div class="m-1">
        <address>{{../header.address}}</address>
    </div>
</footer>
{{/with}}