{{#if groups}}
Group: {{#each groups}}
<ul class="list-group m-2">
    <li class="list-group-item">
        {{id}}<br>
        {{name}}<br>
        {{description}}<br>
        members:{{#each members}} <ul>
            <li class="list-group-item">
                {{> id_name}}
            </li>
        </ul>
        {{/each}}

    </li>
</ul>
{{/each}}
{{/if}}